@import "/styles/style.css";

@media only screen and (min-width: 1440px){

  /* Section */
  .container{
    background-color: green;
    width: 100%;
  }

  /* Content wrapper */
  .main--pricing-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px 120px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;
    align-items: stretch;
  }

  .main--pricing-container .h3--pricing{
    grid-column: 1 / -1;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 72px;
  }

  /* Cards */
  .main--pricing-container .pricing-card{
    display: flex;
    flex-direction: column;
  }

  .main--pricing-container .h4--pricing-card{
    font-size: 32px;
    margin-bottom: 16px;
  }

  .main--pricing-container .p--pricing-card{
    margin-bottom: 32px;
    padding: 0 10px;
  }

  .main--pricing-container .h1--card-price{
    font-size: 56px;
    margin-bottom: 24px;
  }

  .main--pricing-container hr{
    margin-bottom: 32px;
  }

  /* Features */
  .main--pricing-container .ul--features{
    margin-bottom: 40px;
  }

  .main--pricing-container .ul--features li{
    padding-left: 32px;
  }

  /* Button */
  .main--pricing-container .button--pricing-card{
    width: 168px;
    margin: 16px auto 0;
  }

}