@import "/styles/style.css";

@media only screen and (min-width: 768px) {
  .container {
    background-color: #edf3f8;
  }

  /* ~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */

  .logo--and--links {
    padding: 31px 40px;
    flex-direction: row;
    gap: 64px;
    justify-content: space-between;
    background-position: 378px -136px;

    #footer--links--text {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
    }

    #footer--links--icons {
      margin-left: 74px;
      width: 120px;
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
      justify-content: space-between;
    }
  }
  /* ~~~~~~~~~~~~~ END OF FOOTER ~~~~~~~~~~~~~~ */

  /* ~~~~~~~~~~~~~ EMAIL FORM ~~~~~~~~~~~~~~ */

  section.email--form--bottom {
    padding: 100px 161px 100px 162px;
    gap: 24px;
  }

  section.email--form--top {
    padding: 54px 98px 100px 97px;
    gap: 16px;
  }
  section.email--form--top,
  section.email--form--bottom {
    h3 {
      font-size: var(--h2-size);
      letter-spacing: -0.37px;
      line-height: 56px;
      margin: 0;
    }
    div.input--button--wrapper {
      position: relative;
      width: 445px;
      input {
        width: 100%;
        padding-right: 173px;
        margin: 0;
      }
      button {
        width: 173px;
        position: absolute;
        left: 272px;
        margin: 0;
      }
    }
    div.link--wrapper {
      margin: 0;
    }
  }
}
