@import "/styles/style.css";

.container {
  width: 100%;
  background-color: #EDF3F8;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

/* ~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~ */

.header {
  width: 100%;
  margin: auto;
  position: relative;
  height: 136px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header__circle--other-pages {
  position: absolute;
  top: -644px;
  right: -479px;
  width: 780px;
  height: 780px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  width: calc(100%-65px);
  margin-left: 25px;
  margin-right: 24px;
  margin-top: 41px;
}

.nav--payapi-logo {
  height: 37px;
  width: 134px;
}

.nav__menu--logo {
  width: 28px;
  height: 17px;
  display: block;
}

.nav__ul {
  display: none;
}

.nav__button--demo {
  display: none;
}