@import "/styles/style.css";

.container {
  width: 100%;
  background-color: #edf3f8;
  height: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

/* ~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~ */

.header {
  width: 100%;
  position: relative;
}

.header--other-pages {
  overflow: hidden;
}

.header__circle-wrapper {
  overflow: hidden;
  position: relative;
  grid-area: 1 / 1 / 3 / 3;
}

.header--home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "phone phone";
  height: fit-content;
  height: 377px;
}

/* header circle */

.header__circle {
  position: relative;
  width: 780px;
  height: 780px;
}

.header__circle--other-pages {
  top: -644px;
  right: -479px;
  position: absolute;
}

.header__circle--home-page {
  top: -550px;
  left: 50%;
  transform: translateX(-50%);
}

/* header-nav */

.nav__wrapper {
  width: calc(100%-162px);
  margin: 41px 24px 58px 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}

.nav__wrapper--home-page {
  grid-area: nav;
  margin-bottom: 0;
}

.nav--payapi-logo {
  height: 37px;
  width: 134px;
  filter: var(--secondary-color-san-juan-blue-filter);
}

.nav--menu-logo {
  width: 28px;
  height: 17px;
  display: block;
  cursor: pointer;
  filter: var(--secondary-color-san-juan-blue-filter);
}

.nav__ul {
  display: none;
}

.nav__button--demo {
  display: none;
}

/* header phone mockup */

.div--phone-mockup-shadow {
  width: 123px;
  height: 238px;
  grid-area: phone;
  justify-self: center;
  box-shadow: 25px 25px 80px #36536b4d;
  border-radius: 18px;
  position: relative;
  margin-top: 33px;
  margin-bottom: 28px;
}

.home--phone-mockup {
  position: absolute;
  left: -2px;
  width: 127px;
  height: 240px;
}

.home--phone-notification {
  position: absolute;
  top: 79px;
  left: 9px;
  width: 105px;
  height: 43px;
}

/* burger-menu */

.menu-wrapper-js {
  position: fixed;
  width: 300px;
  height: 667px;
  background-color: var(--secondary-color-mirage-blue);
  z-index: 1;
  right: 0%;
  top: 0%;
}

.menu-wrapper-js-2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0%;
  top: 0%;
  z-index: 3;
  width: 300px;
  height: 667px;
  padding-top: 49px;
}

.menu--close-img {
  height: 22px;
  width: 22px;
  filter: var(--primary-color-link-water-white-filter);
  align-self: end;
  margin-right: 25px;
  cursor: pointer;
}

.menu__hr {
  width: 249px;
  background-color: var(--primary-color-link-water-white);
  margin-top: 24px;
  margin-bottom: 44px;
  opacity: 0.15;
}

.nav__ul-js {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    padding-bottom: 32px;
  }

  a {
    text-decoration: none;
    color: var(--primary-color-link-water-white);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-public-sans);
    font-size: 20px;
    opacity: 0.7;
    line-height: 24px;
  }
}

.nav__button--demo-js {
  border-radius: var(--buttons-border-radius);
  border: none;
  background-color: var(--primary-color-dark-pink);
  color: var(--primary-color-link-water-white);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-public-sans);
  font-size: 15px;
  letter-spacing: -0.12px;
  width: 252px;
  height: 48px;
  cursor: pointer;
  padding: 0;
  line-height: 17px;
}

.burger-container {
  display: none;
}

/* ~~~~~~~~~~~~~ END OF HEADER ~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */

.logo--and--links {
  width: 100%;
  background-color: var(--secondary-color-mirage-blue);
  padding: 42px 0px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: center top 177px;

  #footer--links--text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    a {
      color: var(--primary-color-link-water-white);
      text-decoration: none;
      font-weight: var(--font-weight-bold);
      opacity: 70%;
      font-size: var(--body-text-size);
      font-family: var(--font-family-public-sans);
      line-height: 17px;
    }
  }

  #footer--links--icons {
    width: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      height: 24px;
    }
  }

  svg path,
  svg circle {
    fill: var(--primary-color-link-water-white);
  }
}

/* ~~~~~~~~~~~~~ END OF FOOTER ~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~ EMAIL FORM ~~~~~~~~~~~~~~ */
section.email--form--top,
section.email--form--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 80px;

  h3 {
    color: var(--secondary-color-san-juan-blue);
    font-family: var(--font-family-dm-serif-display);
    font-size: var(--h3-size-big);
    letter-spacing: -0.25px;
    line-height: 36px;
    text-align: center;
    font-weight: var(--font-weight-regular);
  }

  input {
    text-align: left;
    padding: 0 27px;
    background: var(--primary-color-link-water-white) 0% 0% no-repeat padding-box;
    letter-spacing: 0;
    color: var(--secondary-color-san-juan-blue);
    opacity: 1;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: var(--secondary-color-san-juan-blue);
    opacity: 0.5;
    letter-spacing: 0;
  }

  button {
    background: var(--primary-color-dark-pink) 0% 0% no-repeat padding-box;
    letter-spacing: var(--buttons-inputs-text-spacing);
    color: var(--primary-color-link-water-white);
    text-align: center;
  }

  input,
  button {
    border-radius: var(--buttons-border-radius);
    width: 100%;
    box-shadow: var(--primary-buttons-box-shadow);
    border: none;
    height: 48px;
    margin: 8px 0;
  }

  input,
  button,
  input::placeholder {
    font-family: var(--font-family-public-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--buttons-inputs-text-size);
    line-height: var(--buttons-inputs-line-height);
  }

  div {
    margin-top: 16px;

    span,
    a {
      color: var(--secondary-color-light-san-juan-blue);
      font-family: var(--font-family-public-sans);
      font-size: var(--buttons-inputs-text-size);
      line-height: var(--buttons-inputs-line-height);
    }

    span {
      font-weight: var(--font-weight-regular);
    }

    a {
      font-weight: var(--font-weight-bold);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

section.email--form--top h3 {
  margin: 0px 0 5px 0;
}

section.email--form--bottom {
  padding-top: 80px;

  h3 {
    margin: 0px 0 13px 0;
  }
}

/* ~~~~~~~~~~~~~ PRICING PAGE ~~~~~~~~~~~~~~ */

.main--pricing-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    background: #36536b 0% 0% no-repeat padding-box;
    opacity: 0.25;
    height: 1px;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 0;
    border: none;
  }
}

.h3--pricing,
.h4--pricing-card,
.h1--card-price {
  font-family: var(--font-family-dm-serif-display);
  font-weight: var(--font-weight-regular);
}

.h3--pricing {
  font-size: var(--h3-size-big);
  color: var(--secondary-color-san-juan-blue);
  letter-spacing: var(--h3-letter-spacing-big);
  line-height: 44px;
  margin-bottom: 44px;
  position: relative;
  top: -7px;
}

.pricing-card {
  width: 100%;
  max-width: 327px;
  margin-bottom: 55px;
}

.pricing-card-last {
  margin-bottom: 0px;
}

.h4--pricing-card {
  color: var(--primary-color-dark-pink);
  font-size: var(--h4-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: 33px;
  margin-bottom: 9px;
}

.p--pricing-card {
  color: var(--secondary-color-light-san-juan-blue);
  font-size: var(--body-text-size);
  height: 48px;
  letter-spacing: 0px;
  line-height: var(--body-text-line-height);
  font-family: var(--font-family-public-sans);
  margin-bottom: 30px;
}

.h1--card-price {
  font-size: var(--h1-size-small);
  letter-spacing: -0.43px;
  line-height: 77px;
  margin-bottom: 5px;
}

.ul--features {
  padding: 0;
  width: 100%;
  height: 237px;
  text-align: left;
  position: relative;
  margin: 0px 0px 31px 0px;
  li {
    list-style-type: none;
    font-family: var(--font-family-public-sans);
    color: var(--secondary-color-san-juan-blue);
    font-weight: var(--font-weight-thin-medium);
    font-size: 16px;
    line-height: 21px;
    padding: 0px 0px 15px 36px;
    position: relative;
    left: 50%;
    transform: translateX(-66.5px);
    width: 123px;
  }
}

.li--included::before {
  content: url("/assets/shared/desktop/icon-check.svg");
  position: absolute;
  width: 12px;
  height: 8px;
  left: 0px;
}

.li--not-included {
  opacity: 0.5;
}

.button--pricing-card {
  color: var(--secondary-color-san-juan-blue);
  border: 1px solid var(--secondary-color-san-juan-blue);
  background-color: transparent;
  border-radius: var(--buttons-border-radius);
  letter-spacing: var(--buttons-inputs-text-spacing);
  width: 168px;
  height: 48px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  padding: 0;
}

.button--pricing-card:hover {
  background-color: var(--secondary-color-san-juan-blue);
  color: #fff;
}

/* ~~~~~~~~~~~~~ END OF PRICING PAGE ~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~ CONTACT FORM ~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~ END OF PRICING PAGE ~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~ ABOUT PAGE ~~~~~~~~~~~~~~ */

.main--about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  h1,
  h3 {
    font-family: var(--font-family-dm-serif-display);
    font-weight: var(--font-weight-regular);
  };
  p {
    font-family: var(--font-family-public-sans);
    font-weight: var(--font-weight-thin-medium);
  };
}

.main__heading--about {
  height: 152px;
  font-size: var(--h3-size-big);
  margin-top: -7px;
  margin-bottom: 44px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: var(--h3-letter-spacing-big);
  line-height: var(--h3-line-height-big);
  align-content: center;
}

.main__article--about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 63px;
  padding: 0px 24px 0px 24px;
  margin-bottom: -21px;
}

.article__heading-about {
  font-size: var(--h4-size);
  margin-bottom: 8px;
  font-family: var(--h4-size);
  letter-spacing: var(--h4-letter-spacing);
  height: 33px;
  align-content: center;
  line-height: var(--h4-line-height);
}

.article__para-about{
    color: var(--secondary-color-light-san-juan-blue);
    letter-spacing: -0.18px;
    margin-bottom: 0px;
    line-height: var(--body-text-line-height);
}

.image__wrapper-about {
  height: 300px;
  width: 100%;
  background-image: url("/assets/about/mobile/image-team-members.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 105px;

}

.section--about-cards {
  padding: 48px 24px 53px 24px;

  p {
    color: var(--secondary-color-san-juan-blue);
    opacity: 0.7;
    margin-bottom: 21px;
  }
}

.heading__card-about {
  color: var(--primary-color-dark-pink);
  letter-spacing: -0.43px;
  font-size: var(--h1-size-small);
  height: 77px;
  margin: 0;
  align-content: center;
}

.para__card-about{
  margin-top: 13px;
}

.card__hr--about-sides {
  height: 1px;
  border: none;
  opacity: 0.25;
  margin: 0px 0px 3px 0px;
  background-color: var(--secondary-color-san-juan-blue);
}

.card__hr--about-last{
  margin-top: -3px;
  /* margin-bottom: 42px; */
}

.card__hr--about {
  display: none;
}

/* ~~~~~~~~~~~~~ END OF ABOUT PAGE ~~~~~~~~~~~~~~ */
#form--page--header {
    color: var(--secondary-color-san-juan-blue);
    font-family: var(--font-family-dm-serif-display);
    font-size: var(--h3-size-big);
    letter-spacing: -0.25px;
    line-height: 36px;
    text-align: center;
    font-weight: var(--font-weight-regular);
    margin: 0 24px;
  }

.contact--form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 37px 24px 87px;

  input,
  textarea {
    border: none;
    border-bottom: 1px solid var(--secondary-color-san-juan-blue-semi-opaque);
    background: none;
    padding: 0 20px 22px;
    color: var(--secondary-color-san-juan-blue);
    &,
    &::placeholder {
      font-family: var(--font-family-public-sans);
      letter-spacing: var(--buttons-inputs-text-spacing);
      line-height: var(--h3-line-height-small);
      font-size: var(--buttons-inputs-text-size);
      text-align: left;
      font-weight: var(--font-weight-thin-medium);
    }
    &::placeholder {
      color: var(--secondary-color-san-juan-blue-semi-opaque);
    }
    &:focus {
      outline: none;
    }
  }
  textarea {
    resize: none;
    height: 89px;
  }
  input[type="text"],
  input[type="email"] {
    height: 42px;
  }
  button {
    align-self: flex-start;
    border: 1px solid var(--secondary-color-san-juan-blue);
    border-radius: 24px;
    padding: 15px 48px 14px 50px;
    background: none;
    font-family: var(--font-family-public-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--buttons-inputs-text-size);
    line-height: var(--buttons-inputs-line-height);
    color: var(--secondary-color-san-juan-blue);
    letter-spacing: var(--buttons-inputs-text-spacing);
  }
  #subscription--checkbox {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 26px;
    #subscription {
      appearance: none;
      /* display: flex;
      align-items: center;
      justify-content: center; */
      padding: 0;
      margin: 0;
      background-color: var(--secondary-color-san-juan-blue);
      opacity: 0.25;
      border: none;
      border-radius: 0;
      width: 24px;
      height: 24px;
      &:checked {
        background-color: var(--primary-color-dark-pink);
        opacity: 1;
        position: relative;
        &::after {
          position: absolute;
          content: url(../assets/shared/desktop/icon-check.svg);
          filter: brightness(0) invert(1);
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    label {
      font-family: var(--font-family-public-sans);
      letter-spacing: var(--buttons-inputs-text-spacing);
      line-height: var(--h3-line-height-small);
      font-size: var(--buttons-inputs-text-size);
      text-align: left;
      font-weight: var(--font-weight-thin-medium);
      color: var(--secondary-color-san-juan-blue);
      height: 100%;
      width: calc(100% - 50px);
    }
  }
  .error--mssg {
    font-size: var(--error-message-text-size);
    letter-spacing: var(--error-message-letter-spacing);
    line-height: 15px;
    color: #ff0000;
    opacity: 0.5;
    margin: -16px 20px -10px;
    padding: 0;
    display: none;
  }
}
/* ~~~~~~~~~~~~~ END OF CONTACT FORM ~~~~~~~~~~~~~~ */
